body {
    background-color: aliceblue;
    width: 100%;
    padding: 5px;
}

h1 {
    text-align: center;
}

input {
    width: 100%;
    background-color: darkgray;
    color: black;
}

button {
    width: 60px;
    background-color: darkgray;

    color: black;
    padding: 2px;
  
    font-weight: bold;
}

#login {
    width: 100px;
}

#signUp {
    width: 100px;
    padding-left: 2px;
}
a {
    text-decoration: none;
    color: black;
}

table {
    padding: 0px;
    margin: 0px;

}
div {
    padding: 0px;
    margin: 0px;
    
}